* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Indie Flower", cursive;
}

body {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.514);
}

.dashboard-container {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

div {
  border: 1px solid red; /* For layout purposes only - delete later */
}

.container-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black; /* For layout purposes only - delete later */
}

.container-row-1 {
  align-items: flex-start;
}

.container-row-2 {
  justify-content: center;
}

.container-row-3 {
  align-items: flex-end;
}

#crypto-container {
  background-color: rgba(0, 0, 0, 0.315);
  padding: 0.7rem;
}

#crypto-chosen-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
}

#crypto-label {
  text-align: center;
}

#crypto-input {
  font-family: "Indie Flower", cursive;
  border: none;
  border-radius: 2px;
  margin-right: 0;
  background-color: rgba(69, 173, 138, 0.767);
}

#crypto-input::placeholder {
  color: black;
  opacity: 0.6;
}

#crypto-btn {
  font-family: "Indie Flower", cursive;
  color: black;
  font-weight: 700;
  border: none;
  border-radius: 2px;
  background-color: rgb(43, 121, 95);
  margin-left: 0;
}

#crypto-img {
  height: 70%;
  margin-left: 0.5rem;
}

#time {
  font-size: 4em;
}

#image-author {
  background-color: rgba(0, 0, 0, 0.692);
  font-size: 0.8em;
  padding: 0.5rem;
  margin: 0;
  font-weight: 900;
}

.hidden {
  display: none;
}
