html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#image-author-container {
  position: fixed;
  bottom: 0;
  z-index: 1;
  margin: 2rem;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.692);
}

#image-author-container > p {
  font-size: 0.8em;
  color: white;
  padding: 0.5rem;
  margin: 0;
  font-weight: 900;
}
